* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    
}

h1 {
    font-size: 4rem;
    margin: 20px 30px;
}
h2 {
    font-size: 3rem;
    margin: 20px 30px;
}
h2 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

#top, #bio, #works {
    height: 1000px;
    padding-top: 80px;
}

#top {
    background-image: url("images/header-bg.png");
}

#bio {
    background-image: url("images/biography-bg.png");
}


.pink-highlight {
    color: palevioletred;
}

p {
    width: 600px;
    margin: 20px 30px;
    margin-bottom: 70px;
}

.btn {
    margin: 40px 30px;
    padding: 20px 40px;
    background-image: linear-gradient(45deg, pink, palevioletred);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

.btn:hover {
    margin: 20px 30px;
    padding: 20px 40px;
    background-image: linear-gradient(45deg, palevioletred, pink);

}


.half-width {
    width: 40%;
    float: left;
}

.half-width img {
    width: 100%;
}

.intro {
    margin-left: 200px;
    margin-top: 200px;
}

.bio {
    margin-left: 200px;
    margin-top: 200px;
}

.bio .btn{
    background-image: linear-gradient(45deg, palevioletred, pink);
}

.bio .btn:hover{
    background-image: linear-gradient(45deg, pink, palevioletred);
}

#works{
    background-image: url("images/latest-work-bg.png");
}

#works .work-images {
    width: 100%;
    margin-left: 100px;
}

.single-work {
    width: 30%;
    float: left;
    margin-left: 20px;
}

.single-work img {
    width: 75%;
}

#works h2 {
    text-align: center;
    font-size: 3rem;
    margin: 200px 0 150px 0; 
}

#feedback {
    height: 800px;
    padding-top: 10px;
    background-image: url("images/footer-bg.png");
    text-align: center;
}

#feedback h3 {
    font-size: 25px;
    width: 600px;
    margin: 0 auto;
    font-weight: 300;
}

#feedback h2 {
    font-size: 40px;
    margin-bottom: 100px;
}

.founder {
    font-weight: 300;
    color: lightslategray;
    margin-bottom: 40px;
}

.leave-message {
    display: block;
    text-align: center;
}

.message {
    width: 700px;
    margin: 80px auto;
    background-color: rgb(238, 83, 109);
    color: #fff;
    padding: 30px 60px;
    border-radius: 10px;
}

.message h4{
    color: #fff;
    font-weight: 300;
    margin: 30px 0;
}

.message h3{
    padding-bottom: 20px;
}

.name {
    font-weight: 600;
    margin: 10px auto;
}

footer {
    width: 100%;
    background-image: linear-gradient(90deg, pink, palevioletred);
    color: #fff;
    text-align: center;
    padding: 5px;
}

footer p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: auto;
}